@CHARSET "ISO-8859-1";

 html {
   width: 100%;
 }
 body {
   padding-top : 70px
   height: 100%;
 }

   .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      
      margin: auto;
  }



/* UNIVERSAL SELECCTOR */


.tr.td {
	align : center ;
}
 

  #nav1{
     color : blue;
     font-weight : bold;
     font-size : large;
     background-color:  #cccccc;
  }
  ul li {
  color : blue;
     font-weight : bold;
     font-size : large;
  }
  #li1 {
    width : 80px;
  }
  modal-header {
    background-color : #5cb85c  ;
  }
  
  .wrapper {
    min-height: 100%;
    position : relative;
    
  }
  
  .content {
    padding-bottom : 90px;
  }
  
  footer {
    margin : 0;
    position : absolute;
    bottom : 0 ;
    height : 90px;
     background-color: #ffc04c;
   
  }

  .footer {
    
    
  }
 /*  new footer  */
 
 
  